image: python:3.10

stages:
  - analysis
  - test

variables:
  UV_VERSION: "0.9.9"
  PYTHON_VERSION: "3.10"
  BASE_LAYER: bookworm-slim
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

.uv: &uv
  variables:
    UV_CACHE_DIR: .uv-cache
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  script:
    - uv sync --frozen
    - uv cache prune --ci

ruff:
  <<: *uv
  stage: analysis
  script:
    - uv run ruff check deepfellow/ tests/

ruff-format:
  <<: *uv
  stage: analysis
  script:
    - uv run ruff format --check deepfellow/ tests/

mypy:
  <<: *uv
  stage: analysis
  script:
    - uv run mypy deepfellow/ tests/

mypy:
  <<: *uv
  stage: analysis
  script:
    - uv run mypy deepfellow/ tests/

pyright:
  <<: *uv
  stage: analysis
  script:
    - PYRIGHT_PYTHON_NODE_VERSION=24.10.0 uv run pyright


pytest:
  <<: *uv
  stage: test
  script:
    - uv run pytest --showlocals --tb=auto -ra --cov deepfellow --cov-branch --cov-report=term-missing --cov-report xml:coverage_cli.xml --no-cov-on-fail tests/

  # Check if our gitlab can do cobertura artifacts.
  # coverage: '/(?i)total.*? (100(?:\.0)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  # artifacts:
  #   expire_in: 1 week
  #   reports:
  #     coverage_format: cobertura
  #     path: coverage_cli.xml
